* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 30px;
}


.logo img {
  height: 180px;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #555;
}

/* Icon style */
.profile-icon {
  color: black;
  font-size: 28px;
  cursor: pointer;
}
